<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet/less" type="text/css" href="/_includes/styles.less">
    {% highlight javascript %}
    {% include less-1.3.0.min.js %}
    {% endhighlight %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/ghpagestest">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
